* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What happens when we set the display property to flex? 
default display in rows, follows conditions applied, display contents to take up space of container
*/
nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
What is the flex-wrap property? 
flex-wrap takes items too large for display and moves them into another row
*/
main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
}


footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What does the justify-content property do? 
justify-content how you can determine the space between items or their space within a container
*/
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
What is the flex property a shorthand property for?
flex is shorthand for flex-grow, flex-shrink and flex-basis.
What is it doing here? 
flex property of 0 0 400px would mean the flex-grow is default 0, flex-shrink is 0, and flex-basis is 400px (how much space given)
*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* 
What does the flex-direction property define?
flex-direction defines how you want to display your content, which axis
What is it doing here? 
it is defining the direction of the contents to be displayed as columns instead of default rows
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
